* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

h2 {
    padding-left: 15px;
}
main {
    display: flex;
    /* flex-grow: ; */
}

nav {
    padding: 10px;
    flex-shrink: 0;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    flex-grow: 1;
}

header {
    height: 75px;
    display: flex;
    align-items: center;
    padding: 15px;
}

header ul li {
    display: inline-block;
    padding: 5px;
    font-size: 15px;
}

header ul {
     display: none;
 }

.recents h3,
.recents p,
.recents h4 {
    padding-bottom: 10px;
}

.fas,.fab, .far {
    padding: 10px;
}

nav .fab {
    font-size: 36px;
}

nav .fas, .hamburger i,
 .fa-user  {
    font-size: 20px;
}

.container  {
    flex-grow: 3;
        background-image: linear-gradient(135deg,#a28e27,black);
}


.logo {
    display: flex;
    align-items: center;
}

.search, .logo,
.home-s, .library {
    padding: 5px;


}
section {
    height: calc(100vh - 150px);
    overflow: auto;
}

footer {
    color: white;
    height: 75px;
    background-color: #172f4f;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.music-container {
    display: flex;
    flex-wrap: wrap;
}

.music-card, .recents {
    padding: 15px;

}

.xl-container {
    max-width: 1200px;
    margin: 0 auto;
}

.download {
    border-bottom: 1px solid white;
    padding: 5px;
}

.user {
    padding: 5px;
}


.img-container img {
    height: 60px;
}

.on-air {
    display: flex;
}


.info-air, .hide {
    display: none;
    color: white;
}


.love-like {
    display: flex;
    align-items: center;
}

.play-bottom {
    display: flex;
    align-items: center;
}

.play-hbar {
    position: relative;
    width: 170px;
    height: 4px;
    background-color: grey;
}

.manage {
    display: flex;
    align-items: center;
    padding: 10px;
}

.play-top {
    display: flex;
    justify-content: space-between;
}


.play-bottom div {
    padding: 0 10px;
}
.play-hbar.volume {
    width: 80px;
}

.play-hbar::after {
    content: "";
    background-color: white;
    height: 10px;
    width: 10px;
    position: absolute;
    top: -4px;
    left: calc(50% - 5px);
    border-radius: 50%;
    border: 1px solid black;
}


@media screen and (min-width: 768px) {

    .hide {
        display: inline;
    }

    header ul {
        display: block;
    }

    .hamburger {
        display: none;
    }

    header {
        justify-content: center;
    }

}

@media screen and (min-width: 992px) {

    .info-air {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 10px;
    }

}
